.exchangeScreen {

}

.exchangeScreen_tablet,
.exchangeScreen_desktop {
    display: flex;
    flex-direction: row;
}

.exchangeScreen_tablet__column,
.exchangeScreen_desktop__column {
    display: flex;
    flex-direction: column;
}

.exchangeScreen_tablet__column {
    width: 50%;
}

.exchangeScreen_tablet__column.left {
    padding-right: 12px;
}

.exchangeScreen_tablet__column.right {
    padding-left: 12px;
}

.exchangeScreen_desktop__column {
    width: calc((100% - 180px) / 2);
}

.exchangeScreen_desktop__column.left {
    padding: 0 9px;
}

.exchangeScreen_desktop__column.center {
    padding: 0 9px;
}

.exchangeScreen_desktop__column.right {
    padding: 0 9px;
    width: 180px;
}
