.input {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
}

.input_field {
    max-width: 100%;
    height: 46px;
    background-color: var(--color-background);
    border-radius: 5px;
    box-shadow: inset -4px -4px 2px rgba(255, 255, 255, 0.1), inset 4px 4px 15px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-family: var(--font-play);
    font-weight: 400;
    line-height: 14px;
    padding: 16px;
    color: var(--color-primaryText);
    outline: none;
    border: none;
    transition: box-shadow .3s;
    text-overflow: ellipsis;
}

textarea.input_field {
    resize: none;
    height: unset;
}

.input_field.withIcon {
    padding-right: 42px;
}

/* Chrome, Safari, Edge, Opera */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input_field[type=number] {
    -moz-appearance: textfield;
}

.input_field::placeholder {
    color: var(--color-placeholder);
}

.input_field:focus {
    box-shadow: inset -4px -4px 12px rgba(var(--dmb-orange), 0.7), inset 4px 4px 15px rgba(0, 0, 0, 0.5);
}

.input_label {
    display: flex;
    padding-bottom: 6px;
    cursor: pointer;
}

.input_label span {
    font-size: 12px;
}

.input_error {
    position: absolute;
    margin-left: 6px;
    bottom: -19px;
    left: 0;
}

.input_error__text {
    color: var(--color-error);
    font-size: 10px;
}

.input_icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.input_icon:hover svg path {
    fill: var(--color-active);
    fill-opacity: 1;
}

.input_icon.withLabel {
    top: calc(50% + 10px);
}

.input_field__error,
.input_field__error:focus {
    color: var(--color-error);
    box-shadow: inset -4px -4px 12px rgba(var(--dmb-red), 0.7), inset 4px 4px 15px rgba(0, 0, 0, 0.5);
}
