.review {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    padding: 18px;
    background-color: var(--color-background-light);
    box-shadow: 10px 10px 50px rgba(var(--dmb-black), 0.25);
    border-radius: 15px;
}

.review_details {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.review_details__avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-image: url(/src/assets/avatar_default.png);
    margin-right: 9px;
}

.review_details__user {
    display: flex;
    flex-direction: column;
    max-width: unset;
    height: 37px;
    justify-content: space-evenly;
}

.review_details__username {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    color: var(--color-primaryText);
    font-weight: 700;
    font-size: 12px;
}

.review_details__date {
    white-space: nowrap;
    font-size: 10px;
}

.review_comment {
    display: flex;
    align-items: center;
}

.review_comment span {
    font-size: 12px;
    color: var(--color-primaryText);
    line-height: 18px;
}

@media screen and (min-width: 1024px) {
    .review {
        flex-direction: row;
    }

    .review_details {
        margin-right: 24px;
    }

    .review_details__user {
        max-width: 100%;
    }
}
