.cryptoChart {
    min-width: 280px;
    min-height: 280px;
    width: 100%;
    margin: 18px auto;
    overflow: hidden;
    position: relative;
}

.cryptoChart_info {
    display: flex;
    justify-content: space-between;
    padding: 18px 12px 0;
}

.cryptoChart_value {
    display: flex;
    align-items: center;
}

.cryptoChart_value span {
    font-size: 14px;
    color: var(--color-primaryText);
    cursor: default;
    user-select: none;
}

.cryptoChart_value span:first-child {
    font-weight: 700;
    color: var(--color-active);
}

.cryptoChart_value span:last-child {
    font-size: 12px;
}

.cryptoChart_mockCheckbox {
    width: 14px;
    height: 14px;
    margin-left: 18px;
    border-radius: 50%;
    border: 1px solid var(--color-secondaryText);
    box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.2);
    position: relative;
    cursor: pointer;
}

.cryptoChart_mockCheckbox:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}

.cryptoChart_mockCheckbox:after {
    background-color: var(--color-active);
}

.cryptoChart_times {
    display: flex;
    cursor: pointer;
}

.cryptoChart_times__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    padding: 0 6px;
    margin: 0 6px;
    height: 24px;
    border-radius: 5px;
    transition: all 0.3s;
}

.cryptoChart_times__item:hover {
    box-shadow: 0 0 15px var(--color-secondaryText);
}

.cryptoChart_times__item.active {
    background-color: var(--color-active);
}

.cryptoChart_times__item span {
    font-size: 12px;
}

.cryptoChart_times__item.active span {
    color: var(--color-primaryText);
}

.cryptoChart_price {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    transform: translateY(0);
    height: 43px;
    padding: 12px;
    visibility: visible;
    opacity: 1;
    transition: all 0.8s;
}

.cryptoChart_price.load {
    transform: translateY(-46px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;
}

.cryptoChart_price--price,
.cryptoChart_price--percent {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-green);
}

.cryptoChart_price--percent {
    padding-left: 12px;
}

.cryptoChart_price--percent.negative {
    color: var(--color-error);
}

.cryptoChart_chartWrapper {
    position: relative;
    height: 200px;
}

.cryptoChart_chart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cryptoChart_chart tspan {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .cryptoChart_times__item span {
        font-size: 14px;
    }
}



