.reviewForm {
    display: flex;
    flex-direction: column;
    align-self: self-start;
    min-width: 260px;
    padding: 24px;
    background-color: var(--color-background-light);
    box-shadow: 10px 10px 50px var(--color-blackShadow);
    border-radius: 15px;
}

.reviewForm_title {
    margin-bottom: 24px;
}

.reviewForm_title span {
    font-weight: 700;
    color: var(--color-primaryText);
}

.reviewForm_input .input_label {
    color: var(--color-primaryText);
    font-size: 12px;
}

.reviewForm_input .input_field {
    width: 100%;
}

.reviewForm_btn {
    align-self: center;
    margin-top: 12px;
}

@media screen and (min-width: 375px) {
    .reviewForm {
        min-width: 320px;
    }
}

@media screen and (min-width: 1024px) {
    .reviewForm {
        min-width: 35%;
        margin-left: 32px;
        margin-top: 36px;
    }
}
