.help {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.help svg path {
    fill: var(--color-active);
}
