.reviewScreen {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.reviewScreen_list {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.reviewScreen_list__title {
    margin-bottom: 18px;
}

.reviewScreen_list__title span {
    font-weight: 700;
    color: var(--color-primaryText);
    text-transform: uppercase;
    padding-left: 12px;
}

.reviewScreen_list__items {
    position: relative;
    height: 100%;
    max-height: calc(100vh - var(--side-header-mobile) - 18px - 18px - 18px - 18px);
    overflow-y: auto;
    border-radius: 15px;
}

.reviewScreen_list__items .reviewItem:last-child {
    margin-bottom: 56px;
}

.reviewScreen_modal {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.reviewScreen_modal.visible {
    top: 50%;
    transform: translate(-50%, -50%);
}

.reviewScreen_modalBtn,
.reviewScreen_modalBtn:hover {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
    .reviewScreen {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .reviewScreen_list__items {
        max-height: calc(100vh - var(--side-header) - 32px - 18px - 18px - 32px);
    }
}
