.faqList {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    width: 100%;
    margin: 0 auto 12px;
}

.faqList_title {
    margin-bottom: 18px;
}

.faqList_title span {
    font-weight: 700;
    color: var(--color-primaryText);
    text-transform: uppercase;
    padding-left: 12px;
}

.faqList_items {
    display: flex;
    flex-direction: column;
    min-height: 120px;
    overflow-y: auto;
    position: relative;
}

.faqList_items__infiniteScrollBox {
    overflow-y: auto;
}

.faqList_items .collapse:first-child .collapse_header {
    margin-top: 0;
}

.collapse_description span.faqList_items__searchedText {
    color: var(--color-active);
}

@media screen and (min-width: 768px) {
    .faqList {
        margin: 0 auto 18px;
    }

    .faqList_items.page {
        overflow: hidden;
        max-height: calc(100vh - var(--side-header-mobile) - 18px - 70px - 18px - 18px - 18px);
    }
}

@media screen and (min-width: 1028px) {
    .faqList {
        margin: 0 auto 24px;
    }

    .faqList_items.page {
        max-height: calc(100vh - var(--side-header) - 24px - 70px - 18px - 18px - 24px);
    }
}
