.faqList {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    margin: 18px 0;
}

.faqList_title {
    margin-bottom: 18px;
}

.faqList_title span {
    font-weight: 700;
    color: var(--color-primaryText);
    text-transform: uppercase;
    padding-left: 12px;
}

.faqList_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    max-height: calc(100vh - var(--side-header-mobile) - 50px - 70px - 18px - 18px);
    overflow-y: auto;
    position: relative;
}

.faqList_items .collapse:first-child .collapse_header {
    margin-top: 0;
}

.collapse_description span.faqList_items__searchedText {
    color: var(--color-active);
}
