.finishStep {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--color-background);
    box-shadow: inset 0 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: inherit;
    position: absolute;
    height: calc(100% - 36px);
    width: 100%;
    top: 36px;
    opacity: 0;
    visibility: hidden;
    left: -100%;
    transition: all .8s;
}

.finishStep.show {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.finishStep:after {
    content: '';
    width: 280px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(/src/assets/Group.svg);
    background-size: 280px 280px;
    background-repeat: no-repeat;
    background-position: -45px 50px;
}

.finishStep_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

.finishStep_info__title {
    margin-bottom: 12px;
}

.finishStep_info__title span {
    font-weight: 700;
    color: var(--color-active);
}

.finishStep_info__description span {

}

.finishStep_navigation {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 28px;
    padding-right: 12px;
}

.finishStep_navigation span {
    font-size: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.finishStep_navigation span:hover {
    color: var(--color-active);
}
