.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}

.select.disable {
    background-color: var(--color-placeholder);
    cursor: not-allowed;
}

.select.disable .select_selected__text,
.select.disable .select_selected__placeholder {
    color: var(--color-background);
}

.select.disable .select_icon svg path {
    fill: var(--color-background);
}

.select_selected {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select_selected__placeholder {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.select_selected__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.select_option__text {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select_selected__logoImg {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.select_selected__text.withIcon,
.select_option__text.withIcon {
    padding-left: 12px;
}

.select_icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select_list {
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--color-background-light);
    backdrop-filter: blur(50px);
    border-radius: 0 0 10px 10px;
    width: 100%;
    min-width: 60px;
    overflow-y: auto;
    transition: max-height .3s, opacity .3s, visibility .3s;
    cursor: pointer;
    z-index: 1;
    max-height: 1px;
    opacity: 0;
    visibility: hidden;
}

.select_list.show {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
}

.select_option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    padding: 0 15px;
    border-bottom: 1px solid var(--color-background-light);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select_option:last-child {
    border-bottom: none;
}

.select_option svg {
    min-width: 18px;
}

.select_option_logoImg {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.select_option__selected {
    background-color: var(--color-background-light);
}

@media screen and (min-width: 1024px) {
    .select_option {
        height: 36px;
    }
}
