.modalWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: visibility 0.5s, opacity 0.5s;
    background-color: rgba(var(--dmb-black), 1);
    box-shadow: 0 0 12px 6px rgba(var(--dmb-white), 0.25);
    border-radius: 15px;
}

.modalWrapper.visible {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: visibility 0.5s, opacity 0.5s;
}

.modalWrapper.animation {
    transition: visibility 0.8s, opacity 0.8s, transform 0.8s, left 0.8s, right 0.8s, top 0.8s, bottom 0.8s;
}

.modalWrapper.visible.animation {
    transition: visibility 0.8s, opacity 0.8s, transform 0.8s, left 0.8s, right 0.8s, top 0.8s, bottom 0.8s;
}

@media screen and (min-width: 1024px) {
    .modalWrapper.visible {
        z-index: 2;
    }
}
