.reviewItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 18px;
    padding: 18px;
    background-color: var(--color-background-light);
    box-shadow: 10px 10px 50px var(--color-blackShadow);
    border-radius: 15px;
}

.reviewItem:first-child {
    margin-top: 0;
}

.reviewItem_details {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.reviewItem_details__avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-image: url(/src/assets/avatar_default.png);
    margin-right: 9px;
}

.reviewItem_details__user {
    display: flex;
    flex-direction: column;
    max-width: unset;
    justify-content: space-evenly;
}

.reviewItem_details__username {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    color: var(--color-primaryText);
    font-weight: 700;
    font-size: 12px;
}

.reviewItem_details__date {
    margin-top: 3px;
    white-space: nowrap;
    font-size: 10px;
}

.reviewItem_comment {
    display: flex;
    align-items: center;
    max-height: 60px;
}

.reviewItem_comment span {
    display: -webkit-box;
    font-size: 12px;
    color: var(--color-primaryText);
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (min-width: 1024px) {
    .reviewItem.page {
        flex-direction: row;
    }

    .reviewItem.page .reviewItem_details {
        margin-right: 24px;
        margin-bottom: 0;
    }

    .reviewItem.page .reviewItem_details__user {
        max-width: 120px;
    }
}
