.collapse {
    position: relative;
}

.collapse_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-top: 18px;
    background-color: var(--color-background-light);
    box-shadow: 10px 10px 50px rgba(var(--dmb-black), 0.25);
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.collapse_header.fixed {
    cursor: default;
}

.collapse_header > span {
    font-size: 12px;
    color: var(--color-primaryText);
    line-height: 18px;
}

.collapse_header__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    min-height: 100%;
}

.collapse_header__arrow.fixed {
    display: none;
}

.collapse_description {
    background-color: var(--color-placeholder);
    box-shadow: 10px 10px 50px rgba(var(--dmb-black), 0.25);
    border-radius: 10px;

    overflow: hidden;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    margin-top: 0;
    transition: max-height 0.5s ease-in, visibility 0.5s ease-in, opacity 0.5s ease-in, padding 0.5s ease-in, margin-top 0.5s ease-in;
}

.collapse_description span {
    color: var(--color-primaryText);
    font-size: 0;
    opacity: 0;
    line-height: 18px;
    transition: font-size 0.5s, opacity 0.5s, padding 0.5s;
}

.collapse_description.expanded {
    visibility: visible;
    overflow-y: auto;
    max-height: 300px;
    opacity: 1;
    padding: 18px;
    margin-top: 18px;
    transition: max-height 0.5s ease-out, visibility 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out, margin-top 0.5s ease-out;
}

.collapse_description.expanded span {
    font-size: 12px;
    opacity: 1;
    transition: font-size 0.5s, opacity 0.5s, padding 0.5s;
}
