.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: inherit;
    height: var(--side-header-mobile);
    background-color: inherit;
    padding: 16px 20px 0;
    box-shadow: unset;
}

.header_menu {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    z-index: 2;
}

.header_logoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: unset;
    padding-left: 0;
    cursor: default;
}

.header_logoBox__logo {
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-bottom: 2px;
}

.header_logoBox__slogan {
    display: flex;
    justify-content: center;
    flex-direction: row;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header_logoBox__slogan span {
    font-family: var(--font-saira);
    font-size: 8px;
    font-weight: 600;
    line-height: 10px;
    text-transform: uppercase;
    color: #6A6A6A;
}

.header_contacts {
    display: none;
}

.header_language {
    width: 35px;
    height: 35px;
    justify-content: center;
    background-color: var(--color-background);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);

    border-radius: 50%;
}

.header_language.show {
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.header_language .select_selected__text.withIcon {
    padding-left: 0;
}

.header_language .select_icon {
    display: none;
}

.header_language.show:before {
    content: '';
    background: var(--color-background-light);
    backdrop-filter: blur(50px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 50% 50% 0 0;
}

.header_language .select_list {
    background-color: var(--color-background);
    border-radius: 0 0 25px 25px;
    min-width: unset;
}

.header_language .select_option {
    padding: 9px 0;
    justify-content: center;
    border-bottom: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.header_language .select_option__text.withIcon {
    padding-left: 0;
}

@media (min-width: 1024px) {
    .header {
        height: var(--side-header);
        justify-content: inherit;
        background-color: var(--color-background);
        padding: 0 24px 0 0;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
        filter: drop-shadow(0px 4px 20px var(--color-blackShadow));
        z-index: 1;
    }

    .header_menu {
        width: inherit;
        height: inherit;
        border-radius: unset;
        background-color: inherit;
        box-shadow: unset;
        padding: 0 40px 0 24px;
    }

    .header_logoBox {
        align-items: unset;
        flex-direction: row;
        flex: 1;
    }

    .header_logoBox__logo {
        padding-right: 32px;
        padding-bottom: 0;
    }

    .header_logoBox__slogan {
        flex-direction: column;
    }

    .header_contacts {
        display: flex;
        flex-direction: row;
        padding-right: 32px;
    }

    .header_contacts__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .header_contacts__item:last-child {
        margin-right: 0;
    }

    .header_language {
        width: inherit;
        height: inherit;
        justify-content: unset;
        background-color: inherit;
        box-shadow: unset;
        border-radius: 0;
    }

    .header_language.show {
        box-shadow: none;
    }

    .header_language:before {
        display: none;
    }

    .header_language .select_list {
        background-color: var(--color-background);
        border-radius: 0 0 10px 10px;
        max-width: 60px;
    }

    .header_language .select_option {
        width: 100%;
        height: 36px;
        border-bottom: 1px solid var(--color-background-light);
        border-radius: 0;
    }

    .header_language .select_option:last-child {
        border-bottom: unset;
    }

    .header_language .select_icon {
        display: flex;
    }
}
