.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    cursor: pointer;
}

.overlay.show {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s, visibility .5s;
}

.overlay.withBackground {
    background-color: var(--color-overlay);
}

@media screen and (min-width: 1024px) {
    .overlay.forMobileOnly {
        visibility: hidden;
        opacity: 0;
    }

    .overlay {
        z-index: 1;
    }
}
