@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    /* colors */
    --dmb-white: 255, 255, 255;
    --dmb-orange: 246, 165, 8;
    --dmb-green: 119, 193, 144;
    --dmb-app: 23, 27, 31;
    --dmb-background: 34, 39, 45;
    --dmb-black: 0, 0, 0;
    --dmb-red: 232, 64, 64;

    --color-app: rgba(var(--dmb-app), 1); /* background of the app */
    --color-background: rgba(var(--dmb-background), 1); /* background of blocks */
    --color-background-light: rgba(var(--dmb-white), 0.05); /* selector and options */
    --color-active: rgba(var(--dmb-orange), 1); /* background of buttons, link, active or important text, other elements */
    --color-primaryText: rgba(var(--dmb-white), 1); /* titles, main text of a block */
    --color-secondaryText: rgba(var(--dmb-white), 0.5); /* subtitles, descriptions or other statistics information */
    --color-placeholder: rgba(var(--dmb-white), 0.2); /* input placeholder or disabled elements */
    --color-green: rgba(var(--dmb-green), 1); /* important points in a chart */
    --color-overlay: rgba(var(--dmb-black), 0.6);
    --color-blackShadow: rgba(var(--dmb-black), 0.25);
    --color-error: rgba(var(--dmb-red), 1);

    /* fonts */
    --font-saira: 'Saira', sans-serif;
    --font-play: 'Play', sans-serif;

    /* scales */
    --size-sidebar-expanded-mobile: 260px;
    --size-sidebar-expanded: 200px;
    --size-sidebar-collapsed: 76px;
    --side-header: 44px;
    --side-header-mobile: 65px;

    /* media query */
    --mq-mobile-xsm: 280px;
    --mq-mobile-sm-min: 320px;
    --mq-mobile-sm-max: 374px;
    --mq-mobile-md-min: 375px;
    --mq-mobile-md-max: 424px;
    --mq-mobile-lg-min: 425px;
    --mq-mobile-lg-max: 767px;
    --mq-tablet-min: 768px;
    --mq-tablet-max: 1023px;
    --mq-laptop-sm-min: 1024px;
    --mq-laptop-sm-max: 1439px;
    --mq-laptop-md-min: 1440px;
    --mq-laptop-md-max: 2559px;
    --mq-laptop-lg-min: 2560px;

    /* content-size */
    --content-width: var(--mq-mobile-xsm);
}

@media screen and (min-width: 320px) {
    :root {
        --content-width: var(--mq-mobile-sm-min);
    }
}

@media screen and (min-width: 375px) {
    :root {
        --content-width: var(--mq-mobile-md-min);
    }
}

@media screen and (min-width: 425px) {
    :root {
        --content-width: var(--mq-mobile-lg-min);
    }
}

@media screen and (min-width: 768px) {
    :root {
        --content-width: var(--mq-tablet-min);
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --content-width: calc(var(--mq-laptop-sm-min) - var(--size-sidebar-collapsed));
        --content-width-side: calc(var(--mq-laptop-sm-min) - var(--size-sidebar-expanded));
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --content-width: calc(var(--mq-laptop-md-min) - var(--size-sidebar-collapsed));
        --content-width-side: calc(var(--mq-laptop-md-min) - var(--size-sidebar-expanded));
    }
}

@media screen and (min-width: 2560px) {
    :root {
        --content-width: calc(var(--mq-laptop-lg-min) - var(--size-sidebar-collapsed));
        --content-width-side: calc(var(--mq-laptop-lg-min) - var(--size-sidebar-expanded));
    }
}

html {
    background-color: var(--color-app);
    color: var(--color-secondaryText);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
}

#root {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}

.demobank_svg path {
    fill: var(--color-primaryText);
}

a {
    color: var(--color-active);
    font-size: 14px;
    font-family: var(--font-play);
    font-weight: 400;
}

span,
p,
label {
    color: var(--color-secondaryText);
    font-size: 14px;
    font-family: var(--font-play);
    font-weight: 400;
}
