/* map container */
.googleMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 50vh;
    border-radius: inherit;
    position: relative;
    background-color: var(--color-background);
}

.googleMap_title {
    padding: 18px 12px;
    height: 52px;
}

.googleMap_title span {
    font-weight: 700;
    color: var(--color-primaryText);
}

.googleMap_map {
    height: calc(100% - 52px);
    width: 100%;
    position: relative;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}

.googleMap_map .loading.block {
    border-radius: inherit;
}

.googleMap_overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-background);
}


/* map pin */
.pin {
    position: absolute;
    transform: translate(-50%, -100%);
}
